html, body, td, .gwt-TextArea, textarea {
    color: #222;
    font: 12px "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

#promoText {
    text-align: left;
    line-height: 20px;
    margin-bottom: 20px;
    height: 110px;
}

#cell {
    width: 240px;
    height: 250px;
    margin: 0 20px;
    color: #222;
    font: 12px "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.screenWrapper {
    margin: 20px 20px 10px 40px;
    position: relative;
}

.popup {
    background: #f2f7fa;
    border: 1px solid #cedfea;
    padding: 7px;
    border-radius: 1px;
    z-index: 40 !important;
    color: #222;
    font: 12px "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    left: 8px;
    top: 104px;
    z-index: 20;
    visibility: visible;
    position: absolute;
    overflow: visible;
    margin-right: 17px;
}

.closePopup {
    cursor: pointer;
    height: 7px;
    width: 7px;
    position: absolute;
    top: 6px;
    right: 10px;
}

.popupChild {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    width: 450px;
    height: 135px;
    margin-right: 17px;
}

.silverButton {
    border-spacing: 0;
    border-collapse: collapse;
    color: #222;
    font: 12px "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    outline: 0;
    padding: 10px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 3px;
    background: -webkit-linear-gradient(top, #fff, #e6e6e6);
    height: 32px;

}


.manualName {
    color: #222;
    font: 12px "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 20px;
    font-weight: bold;
    line-height: 22px;
    white-space: nowrap;
    margin-right: 20px;
}

.title {
    color: black;
    font-size: 30px;
    align-items: center;
}

.blackColor {
    color: black;
}

.employeeName {
    font: 12px "Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    color: #186999;
    cursor: pointer;
}

.employeeDialogLabel {
    font: 12px "Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    cursor: pointer;
    font-size: 10px;
    color: #909090;
}

.disabledButton {
    border-collapse: collapse;
    text-align: -webkit-left;
    color: #222;
    font: 12px "Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    vertical-align: top;
}

.miniTitle {
    font-size: 20px;
    color: #222;
}

.helpButton {
    width: 15px;
    min-width: 15px;
    height: 15px;
    margin-right: 10px !important;
    display: inline-block;
    cursor: pointer;
}

.settingButton {
    white-space: nowrap;
    --lumo-button-size: var(--lumo-size-m);
    font-family: var(--lumo-font-family);
    font-size: var(--lumo-font-size-m);
    font-weight: 500;
    color: var(--_lumo-button-color, var(--lumo-primary-text-color));
    cursor: default;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
}

#text {
    color: #222;
    font-weight: normal;
    white-space: nowrap;
    display: block;
    max-width: 30em;
    overflow: hidden;
    text-overflow: ellipsis;
}

#link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}

#btn {
    background: #fff;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(100%, #e6e6e6));
    background: -webkit-linear-gradient(top, #fff, #e6e6e6);
    background: -o-linear-gradient(top, #fff, #e6e6e6);
    background: -ms-linear-gradient(top, #fff, #e6e6e6);
    background: linear-gradient(top, #fff, #e6e6e6);
    display: inline-block;
    font-size: 12px;
    white-space: nowrap;
    height: 26px;
    margin-right: 15px;
}

.greenButton {
    border-spacing: 0;
    border-collapse: collapse;
    color: white;
    font: 12px "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    outline: 0;
    padding: 10px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 3px;
    background: -webkit-linear-gradient(top, #cce255, #a1b900);
    height: 32px;


    /*padding: 10px;*/
    /*cursor: pointer;*/
    /*border: 1px solid #ccc;*/
    /*border-radius: 3px;*/
    /*height: 32px;*/
    /*    */
    /*//border-collapse: collapse;*/
    /*color: white;*/
    /*font: 12px "Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;*/
    /*margin: 0 10px 0 0;*/

    /*cursor: pointer;*/
    /*border: 1px solid #ccc;*/
    /*border-radius: 3px;*/
    /*display: inline-block;*/
    /*white-space: nowrap;*/
    /*background: -webkit-linear-gradient(top,#cce255,#a1b900);*/

}

.borderCheck {
    border: green solid 3px;
}

.btnBorder {
    margin: 0 10px 0 0;
    padding: 0 10px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 3px;
}
