.dtb-marker-blue {
    background-color: #00c7ff;
}
.dtb-marker-red {
    background-color: #f24943;
}
.dtb-marker-yelow {
    background-color: sandybrown;
}
.dtb-marker-green {
    background-color: #14b22b;
}