html, body, td, .gwt-TextArea, textarea {
    color: #222;
    font: 12px "Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
}

#navbarTop {
    background: #1f75a8;
    vertical-align: middle;
    /*border-color: inherit;*/
    height: 64px;
    width: 100%;
}

#navBarText {
    color: rgb(198, 221, 234);
    display: block;
    text-align: end;
    text-decoration: none;
    margin: 5px 0 0 0;
    font: 12px "“Helvetica Neue”", Helvetica, Arial, "“Lucida Grande”", sans-serif;
}

#navBarIcon {
    margin: 25px 0 0 0;
}

#rightSideNavBar {
    height: 100%;
    vertical-align: inherit;
}

#rightSideNavBar * {
    float: right;
    padding-top: 18px;
    padding-left: 10px;
    padding-right: 10px;
}

#logo_main {
    padding-left: 16px;
    padding-right: 4px;
    align-self: center;
}

[part="navbar"]{
    height: 58px;
    background: #1f75a8;
}

[part="navbar"]::before{
    height: 0;
}

[slot="navbar"]{
    margin-top: 0;
    height: 58px;
    background: #1f75a8;
    width: calc(100vw - 21px);
}

#vaadinTab {
    align-self: center;
    padding-left: 4px;
    padding-right: 4px;
    height: 100%;
}

vaadin-tab::after {
    display: none;
}

vaadin-tab::before {
    display: none;
}

vaadin-tab:hover {
    background-color: rgba(0, 0, 0, 0.15);
}

#separator_tab {
    background: #1f75a8;
    min-width: 8px;
    padding: 0;
}

.subMenuItem[aria-selected="true"] {
    border-bottom: 3px solid #186999;
}

#mainMenuHorizontalLayout[aria-selected="true"] {
    background-color: rgba(0, 0, 0, 0.15);
}

:focus {
    background-color: rgba(0, 0, 0, 0.15);
    outline: unset;
}

.pageTitle {
    align-self: center;
    font-weight: bold;
    line-height: 22px;
    white-space: nowrap;
    font-size: 20px;
    max-width: 30em;
    overflow: hidden;
    text-overflow: ellipsis;
}