#drawer {
    width: 288px;
    font-size: 12px;
    padding-top: 21px;
}

vaadin-tabs[orientation="vertical"] {
    margin-bottom: 20px;
    margin-top: 10px;
}


.tableTitle {
    margin-left: 38px;
    font-weight: bold;
    color: #cc420c;
}

span {
    color: #104c6e;
    font: 13px "Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    padding-top: 11px;
}
